Client/Connected Services/MainServiceRef/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BasicLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BasicLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="accessLevelType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="characterId" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lastLogIn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="House">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoatOfArms" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="History" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HouseKeeper" type="xs:int" />
      <xs:element minOccurs="0" name="HouseMembers" nillable="true" type="tns:ArrayOfCharacter" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="House" nillable="true" type="tns:House" />
  <xs:complexType name="ArrayOfCharacter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Character" nillable="true" type="tns:Character" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCharacter" nillable="true" type="tns:ArrayOfCharacter" />
  <xs:complexType name="Character">
    <xs:sequence>
      <xs:element minOccurs="0" name="biography" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="birthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="birthPlace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deathCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deathDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="deathPlace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="livingCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="livingPlace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="photo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="religious" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="secondName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="successor" nillable="true" type="tns:ArrayOfCharacter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Character" nillable="true" type="tns:Character" />
</xs:schema>