Client/Connected Services/MainServiceRef/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server.ServerLibs/MainServiceServ/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BasicLib" />
  <xs:element name="getHouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BasicLib" minOccurs="0" name="incomingUser" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BasicLib" minOccurs="0" name="getHouseResult" nillable="true" type="q2:House" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLogs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLogsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewCharacter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BasicLib" minOccurs="0" name="curUser" nillable="true" type="q3:User" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BasicLib" minOccurs="0" name="incHs" nillable="true" type="q4:House" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewCharacterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>