Client/Connected Services/MainServiceRef/MainServiceServ.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MainServiceServ" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server.ServerLibs/MainServiceServ/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server.ServerLibs/MainServiceServ/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Server.ServerLibs/MainServiceServ/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BasicLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMain_getHouse_InputMessage">
    <wsdl:part name="parameters" element="tns:getHouse" />
  </wsdl:message>
  <wsdl:message name="IMain_getHouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHouseResponse" />
  </wsdl:message>
  <wsdl:message name="IMain_getLogs_InputMessage">
    <wsdl:part name="parameters" element="tns:getLogs" />
  </wsdl:message>
  <wsdl:message name="IMain_getLogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLogsResponse" />
  </wsdl:message>
  <wsdl:portType name="IMain">
    <wsdl:operation name="getHouse">
      <wsdl:input wsaw:Action="http://tempuri.org/IMain/getHouse" message="tns:IMain_getHouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMain/getHouseResponse" message="tns:IMain_getHouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLogs">
      <wsdl:input wsaw:Action="http://tempuri.org/IMain/getLogs" message="tns:IMain_getLogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMain/getLogsResponse" message="tns:IMain_getLogs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMain" type="tns:IMain">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getHouse">
      <soap:operation soapAction="http://tempuri.org/IMain/getHouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLogs">
      <soap:operation soapAction="http://tempuri.org/IMain/getLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainServiceServ">
    <wsdl:port name="BasicHttpBinding_IMain" binding="tns:BasicHttpBinding_IMain">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Server.ServerLibs/MainServiceServ/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>