Client/Connected Services/AuthServiceRef/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BasicLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BasicLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="accessLevelType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="characterId" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lastLogIn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:simpleType name="AuthErrors">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EverythingIsFine" />
      <xs:enumeration value="NoSuchUser" />
      <xs:enumeration value="IncorrectPass" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AuthErrors" nillable="true" type="tns:AuthErrors" />
  <xs:simpleType name="RegisterResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UserRegSuccess" />
      <xs:enumeration value="SomethingWentWrong" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegisterResult" nillable="true" type="tns:RegisterResult" />
</xs:schema>